/* Utilities */


/* Sizes */

header {
    height: 100px;
}

section {
    height: 500px;
}

figure {
    height: 300px;
}


/* Colours */

.bg-green-water {
    background-color: #1abc9c;
}

.bg-blue-navy {
    background-color: #3a546d;
}

.bg-blue-dark-navy {
    background-color: #2c3e50;
}